---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import Link from "../components/Link.astro";
---

<MainLayout title='About'>
	<section class="container about" aria-label="About Me">
		<img src="/images/avatar_0001.png"
			 alt="My headshot"
			 width="200"
			 height="330" />
		<div class="content">
			<h1 class="h1">
				Jason-Codes Blog
			</h1>
			<p>
				Welcome, fellow nocturnal coding connoisseurs! You've stumbled upon my curated repository of insights into the world of programming, project developments, and the overall tech development lifestyle and career path.
			</p>
			<p>
				I'm Jason, your guide on this adventure. For the past four years, I've immersed myself in the art of coding. Along the way, I earned my Bachelor's in Information Technology, delved into a rigorous six-month programming boot camp, and launched into the professional realm as a Software Engineer.
			</p>
			<p>
				Join me as we navigate the wild terrain of technology together, sharing in the triumphs, tribulations, and perhaps a few laughs along the way. Whether you're a seasoned developer, a curious beginner, or simply tech-curious, this blog is your sanctuary in the ever-expanding digital jungle.
			</p>
				Let's build, innovate, and embrace the chaos of creativity – one code snippet at a time.
			<Link href="mailto:dev.jasoncameron@gmail.com"
				  style="primary"
				  text="Contact Me"
			/>
		</div>
	</section>
</MainLayout>
