---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro"

// UTILs
import { formatBlogPosts } from "../js/utils";

// VARs
const allPosts = await Astro.glob("./posts/**/*.md");
const filterParams = {
	filterOutDrafts: true,
	filterOutFuturePosts: true,
	sortByDate: true,
	limit: 3,
}
const formattedPosts = formatBlogPosts(allPosts, filterParams);
---

<MainLayout title='My Blog'>
	<section class="container about" aria-label="About Me">
		<div class="flex md:flex-row md:justify-between md:space-x-10 flex-col items-center space-y-5">
			<img x
				 src="/images/avatar_0001.png"
				 alt="My headshot"
				 width="200"
				 height="330" />
			<div class="content ">
				<h1 class="h1">
					Jason Codes
				</h1>
				<p>
					<span class="font-bold font-mono">This week's Question: </span>What's in a name?
				</p>
				<Link class="w-11 h-5"
					  href="/about/"
					  style="secondary"
					  text="Who am I?"
				/>
			</div>
		</div>

	</section>

	<section class="container" aria-label="New Blog Posts">
		<h2 class="h1">New Blog Posts</h2>
		<div class="post-container">
			{
				formattedPosts.map((post) =>
					( <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h3" />))
			}
		</div>
	</section>
</MainLayout>
