---
// COMPs
import MainHead from './MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// STYLEs
import '../styles/global.css';

// PROPs
const {
	title = "Jason's Blog",
	description = "This is where I try to contemplate and put into words the things I've coded.",
} = Astro.props;
---

<html lang='en'>
	<MainHead {title} {description} />
	<Nav />
	<body>
		<main>
			<slot>Default Text</slot>
		</main>
		<Footer />
	</body>
</html>
